@tailwind base;
@tailwind components;
@tailwind utilities;

/* 定义下划线动画 */
@keyframes borderSlide {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@layer utilities {
  /* 隐藏 Chrome, Safari 和 Opera 的滚动条 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* 隐藏 IE, Edge 和 Firefox 的滚动条 */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE 和 Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .full-height-minus-64px {
    height: calc(100vh - 64px);
  }
  
  /* 下划线动画类 */
  .animate-border-slide {
    animation: borderSlide 0.5s linear forwards;
  }
}